[submodule "tex"]
	path = tex
	url = https://github.com/mmore500/oee4.git
	branch = tex

[submodule "binder-2026-08-13-eco-gwas-weakstrong.ipynb"]
	path = binder-2026-08-13-eco-gwas-weakstrong.ipynb
	url = https://github.com/mmore500/oee4.git
	branch = binder-2026-08-13-eco-gwas-weakstrong.ipynb
	shallow = true

[submodule "binder-2026-07-25-ecoselfcontext-pgcomplex-screen.ipynb"]
	path = binder-2026-07-25-ecoselfcontext-pgcomplex-screen.ipynb
	url = https://github.com/mmore500/oee4.git
	branch = binder-2026-07-25-ecoselfcontext-pgcomplex-screen.ipynb
	shallow = true
