[submodule "submodule/dishtiny"]
	path = submodule/dishtiny
	url = https://github.com/mmore500/dishtiny.git
	branch = binder
	shallow = true
[submodule "submodule/dishtiny_event_tag_phylogenetics"]
	path = submodule/dishtiny_event_tag_phylogenetics
	url = https://github.com/rodsan0/dishtiny_event_tag_phylogenetics.git
	shallow = true
[submodule "submodule/dishtiny-dishpylib"]
	path = submodule/dishtiny-dishpylib
	url = https://github.com/mmore500/dishtiny.git
	shallow = true
[submodule "binder-2025-08-28-complexity-adaptation"]
	path = binder-2025-08-28-complexity-adaptation
	url = https://github.com/mmore500/oee4.git
	branch = binder-2025-08-28-complexity-adaptation.ipynb
	shallow = true
[submodule "binder-2025-08-24-keyfig"]
	path = binder-2025-08-24-keyfig
	url = https://github.com/mmore500/oee4.git
	branch = binder-2025-08-24-keyfig.ipynb
	shallow = true
[submodule "binder-2025-08-26-dotfig"]
	path = binder-2025-08-26-dotfig
	url = https://github.com/mmore500/oee4.git
	branch = binder-2025-08-26-dotfig.ipynb
	shallow = true
[submodule "binder-2025-09-05-interpolation_complexity"]
	path = binder-2025-09-05-interpolation_complexity
	url = https://github.com/mmore500/oee4.git
	branch = binder-2025-09-05-interpolation_complexity.ipynb
	shallow = true
